* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hamburger {
    width: 30px;
    margin: 20px;
}


.bar {
    display: block;
    background-color: black;
    width: 35px;
    height: 5px;
    margin: 5px;
}

.nav-menu {
    list-style: none;
    display: none;
    
}
 .nav-menu a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
    padding: 5px;}
